-if can?(:update, @canvas)
  = form_for @canvas do |f|
    .field
      = f.label 'Name'
      = f.text_field :name      
    .field
      = f.label 'Allow anyone to join this community?'
      = f.check_box :open?
    .actions
      = f.submit 'Save'
