- content_for(:opengraph_meta_tags, opengraph_meta_tags_for(@canvas, :url => canvas_url(@canvas), :site_name => @canvas.name))
- content_for :stylesheets do
  = stylesheet_link_tag 'compiled/canvas.css', :media => 'screen, projection'
- content_for :javascripts do
  = javascript_include_tag 'canvas_show'  

= render 'shared/welcome'

-if @canvas.id == 46
  %br
  %p
    We all have questions, I know I have many! I figured this may be a great platform to share my research and findings with other Porsche Enthusiasts and owners. Within these pages you will find the latest news from tuner and racing circles, in depth info and reviews on performance parts and DIY projects, and entertaining yet relevant videos/multimedia from around the globe.
  %p
    If you're looking to be part of an exclusive community who's specific purpose is to help one another through the accumulation, organization, and sharing of knowledge and information focused specifically on this German Marquis Brand, then Engineered for Magic is for you.
  %p
    Our passion is one driven by powerful emotions, childhood dreams and uncompromising aspirations. Porsche: Engineered for magic


.span-17.first
  - if can?(:create, Widget.new(:canvas => @canvas))
    %div{:style => "font-size:13px;height:20px;"}
      = render 'add_via_bookmarklet'
      = render 'add_via_email'
    %br
  #toolbar
    .heading{:style => "float:left;"}
      Community Feed
    - if can?(:create, Widget.new(:canvas => @canvas))
      %a.add_widget.tab{:style => "float:right;", :href => "#", :data => {:content_type => "question_content", :canvas_id => @canvas.id}} Ask a question
      %a.add_widget.tab{:style => "float:right;", :href => "#", :data => {:content_type => "link_content", :canvas_id => @canvas.id}} Post a link
      %a.add_widget.tab{:style => "float:right;", :href => "#", :data => {:content_type => "image_content", :canvas_id => @canvas.id}} Share a photo
      %a.add_widget.tab{:style => "float:right;", :href => "#", :data => {:content_type => "text_content", :canvas_id => @canvas.id}} Add snippet

  %ul#inline_form
    - @new_widgets.each do |t, widget|
      %div{:style => "display:none;"}
        = render :partial => "widgets/canvas_feed", :object => widget, :as => :widget
  = hint_for(@canvas, current_user, "widget")
  \
  %ul#feed
    = render :collection => Widget.for_canvas(@canvas.id,1), :partial => "widgets/canvas_feed", :as => :widget
  
  .widget_history_content

.span-7.last
  #memberlist
    .heading
      Community Members
    = render 'memberlist'
    
  %br
  
  #pages
    #toolbar
      .heading{:style => "float:left;"}
        Pages
      - if can? :create, Page.new(:canvas => @canvas)
        %a.add_page.tab{:style => "float:right;", :href => new_canvas_page_path(@canvas), :data => {:content_type => "page", :canvas_id => @canvas.id}} New Page
        = hint_for(@canvas, current_user, "page")
    
    %div{:style => "border-top:1px solid #CCC; border-bottom:1px solid #DDD;max-height:340px; overflow:auto;"} 
      %ul.vertical-list
        - @canvas.pages.each do |page|
          %a.vertical-list{:href => canvas_page_path(@canvas, page), :title => page.title}
            %li.vertical-list
              %img.vertical-list-icon{:src => page.icon}
              .vertical-list-title=page.title
              .vertical-list-details
                Modified by
                =page.editor
                %br
                -if page.updated_at > 12.hours.ago 
                  #{time_ago_in_words(page["updated_at"])} ago
                -else
                  on #{page.updated_at.strftime("%b %d %Y %I:%M %p")}