- content_for(:opengraph_meta_tags, opengraph_meta_tags_for(@canvas, :url => canvas_url(@canvas), :site_name => @canvas.name))
- content_for :stylesheets do
  = stylesheet_link_tag 'compiled/canvas.css', :media => 'screen, projection'
- content_for :javascripts do
  = javascript_include_tag 'canvas_show'  
-if can?(:update, @canvas)
  - content_for :javascripts do
    = javascript_include_tag 'canvas_edit.js', :media => 'screen, projection'

= render 'shared/welcome'

.mini_dashboard
  Creator:
  = @canvas.creator
  - if can?(:update, @canvas)
    |
    = link_to @canvas.members.length.to_s + ' Members', members_canvas_path(@canvas)
  - if can?(:update, CanvasApplicant.new(:canvas_id => @canvas.id))
    |
    = link_to @canvas.applicants.length.to_s + ' Applicants', applicants_canvas_path(@canvas)

- if can?(:apply, @canvas)
  .apply-join
    - if @canvas.closed?
      #apply.button
        Apply Now
      #apply-form
        %form#applicant_form
          %div Please let us know why you would like to join this community
          %textarea#note{:value => current_user.id, :name => "note", :style => "height:125px"}
    - else
      #join.button
        Join Now
        
#canvas_name_text= @canvas.name

-if can?(:update, @canvas)
  = form_for @canvas do |f|
    .field
      = f.text_field :name
      = hint_for(@canvas, @current_user, "canvas")
        
      .input_note#canvas_name_input_note

- if can?(:create, Widget.new(:canvas => @canvas))
  %br
  #toolbar
    %a.add_widget.tab{:href => "#", :data => {:content_type => "text_content", :canvas_id => @canvas.id}} Add snippet
    %a.add_widget.tab{:href => "#", :data => {:content_type => "image_content", :canvas_id => @canvas.id}} Share a photo
    %a.add_widget.tab{:href => "#", :data => {:content_type => "link_content", :canvas_id => @canvas.id}} Post a link
    %a.add_widget.tab{:href => "#", :data => {:content_type => "question_content", :canvas_id => @canvas.id}} Ask a question
  
  %ul#inline_form
    - @new_widgets.each do |t, widget|
      %div{:style => "display:none;"}
        = render :partial => "widgets/canvas_feed", :object => widget, :as => :widget
= hint_for(@canvas, current_user, "widget")
\
%ul#feed
  = render :collection => Widget.for_canvas(@canvas.id,1), :partial => "widgets/canvas_feed", :as => :widget
  
#pages
  
  - if can? :create, Page.new(:canvas => @canvas)
    #toolbar
      %a.add_page.tab{:href => new_canvas_page_path(@canvas), :data => {:content_type => "page", :canvas_id => @canvas.id}} New Page
    = hint_for(@canvas, current_user, "page")
  %ul.page_list
  - @canvas.pages.each do |page|
    %li.page_icon_grid
      %a{:href => canvas_page_path(@canvas, page)}
        %img{:src => "/images/page.png"}
        .page_icon_title= page.title

- if can?(:create, Widget.new(:canvas => @canvas))
  %hr

  #inputs
    .title-italic Other ways to add a snippet:
    .add-by-bookmarklet 
      by Bookmarklet
      %a#bookmarklet{:href => "#"} 
        = "Add to #{@canvas.name}"
      %img.bookmarklet-infolink.infolink{:src => "/images/info-green-24.png"}
    
    .bookmarklet-infocontent{:style => "display:none"}
      %p
        Select text from any web page and post it instantly to your community, just by clicking a special bookmark.
      %p
        Install by dragging the bookmarklet to the bookmark toolbar in your browser.
      %iframe{:width=>"500", :height=>"411", :src => "http://www.youtube.com/embed/Nu2fJGyj0nA"}

    .add-by-email
      by Email
      = link_to "#{@canvas.id}@feed.loorp.com", "mailto:#{@canvas.id}@feed.loorp.com"
      %img.email-infolink.infolink{:src => "/images/info-green-24.png"}
      
      .email-infocontent{:style => "display:none"}
        Easily add content to the feed by sending an email to this address:
        = link_to "#{@canvas.id}@feed.loorp.com", "mailto:#{@canvas.id}@feed.loorp.com"
        %br
        %br
        Note that you must register your sending email address before adding content by email. You can do this on your
        = link_to "account settings page", edit_user_path
        %br
        %br
        Registered Email Addresses:
        %ul#email-list
        

    :javascript
      
      $(".bookmarklet-infolink").click(function(){
        $(".bookmarklet-infocontent").dialog({
          width: 530,
          title: 'How to install our bookmarklet'
        });
      });
      
      $(".email-infolink").click(function(){
        $(".email-infocontent").dialog({
          width: 530,
          title: 'How to email snippets'
        });
        $("ul#email-list").html('<img src="/images/loading-medium.gif">');
        $("ul#email-list").load("/emails/");
        
      });
      
      $("a#bookmarklet")
        .mousedown(function(){
          // Track the bookmarklet install.
          mpq.push(['track','install_bookmark']);
        })
        .attr("href", "#{raw(bookmarklet_no_jquery(@canvas, current_user))}");
