= render :partial => "header"

%p#notice= notice

.span-16
  %p
    %b Name:
    = @canvas.name
    = @canvas.id

  %p
    %b Mission:
    = @canvas.mission
  %p
    %b Image url:
    = @canvas.image_url
  %p
    %b Creator:
    = @canvas.creator_id

  %h2
    Pages
  %ul
  - @canvas.pages.each do |page|
    %li
      = link_to page.title, canvas_page_path(@canvas, page)

  - if current_user
    .bookmarklet
      Install Bookmarklet

    %p
      ="drag the box below to your bookmark toolbar. #{host_uri}"
    %a#bookmarklet_install{:onmousedown=>"mpq.push(['track','install_bookmark']);",:href => "javascript:(function(){_my_var=document.createElement('SCRIPT');_my_var.type='text/javascript';_my_var.innerText='canvas_id=#{@canvas.id};user_id=#{current_user.id}';host_uri='#{host_uri}';_my_script=document.createElement('SCRIPT');_my_script.type='text/javascript';_my_script.src='#{host_uri}/javascripts/post-link.js';element=document.getElementsByTagName('body')[0];element.appendChild(_my_var);element.appendChild(_my_script);})();"}
      .info
        = "add to #{@canvas.name}"
  .info
    #see_video
      %button
        Click here
      see video on how to install bookmarklet for your canvas
    #instructions{:style => "display:none"}
      %iframe{:width=>"425", :height=>"349", :src=>"http://www.youtube.com/embed/QrwevUN0KdQ"} 
            
  %p 
    = link_to 'Create Page', new_canvas_page_path(@canvas)

  = link_to 'Edit', edit_canvas_path(@canvas)
  \|
  = link_to 'Back', canvae_path


.span-8.last

  = render :partial => "/shared/input_stream"

:javascript
  $(function(){
    mpq.push(["track","hit_canvas_homepage"]);
    window.mixpanelobject=mpq;  
    
    $("#see_video button").click(function(){
      $("#instructions").toggle();
      $("#see_video").toggle();
    })
    
  })

