- content_for(:opengraph_meta_tags, opengraph_meta_tags_for(@canvas, :url => canvas_url(@canvas), :site_name => @canvas.name))
- content_for :stylesheets do
  = stylesheet_link_tag 'compiled/canvas.css', :media => 'screen, projection'
- content_for :javascripts do
  = javascript_include_tag 'canvas_show'  

#widget_dialog
  %iframe{:src => ""}

.span-4.first
  #overview
    = image_tag @canvas.image if @canvas.image.present?
    %p
      %b Name:
      = @canvas.name
      = render "facebook_share"
      - if current_user
        #follow_status
          #follow{:style => hidden_if(current_user.following?(@canvas))}
            %button Follow
          #stop_following{:style => hidden_if(!current_user.following?(@canvas))}
            %button Stop following
            %p
              Following this canvas
                        
    %p
      %b Mission:
      = @canvas.mission

    %p
      %b Creator:
      = @canvas.creator
    
    = link_to 'Edit', edit_canvas_path(@canvas)  
    
  #pages
    %h2
      Pages
    %ul
    - @canvas.pages.each do |page|
      %li
        = link_to page.title, canvas_page_path(@canvas, page)
        
    %p 
      = link_to 'Create Page', new_canvas_page_path(@canvas)

.span-20.last
  #inputs
    - if current_user
      %h2.bookmarklet
        Install Bookmarklet

      %p
        ="Drag the box below to your bookmark toolbar."
      %p
        %a#toggle_bookmarklet_video{:href => "#"} How to install a bookmarklet?
      #bookmarklet_video.info{:style => "display:none"}
        %iframe{:width=>"425", :height=>"349", :src => "http://www.youtube.com/embed/QrwevUN0KdQ"}
        
      .info
        %a#bookmarklet{:href => "#", :style => "padding:10px 400px 10px 0"} 
          = "add to #{@canvas.name}"

  %h2 Feed
  #toolbar
    %a.add_widget{:href => "#", :data => {:content_type => "text_content", :canvas_id => @canvas.id}} Add Text
    %a.add_widget{:href => "#", :data => {:content_type => "image_content", :canvas_id => @canvas.id}} Add Image
    %a.add_widget{:href => "#", :data => {:content_type => "link_content", :canvas_id => @canvas.id}} Add Link
    
  %ul#inline_form
    - @new_widgets.each do |t, widget|
      %div{:style => "display:none;"}
        = render :partial => "widgets/canvas_feed", :object => widget, :as => :widget  
  %ul#feed


- if current_user
  :javascript
    $("a#bookmarklet")
      .mousedown(function(){
        // Track the bookmarklet install.
        mpq.push(['track','install_bookmark']);
      })
      .attr("href", "#{raw(bookmarklet(@canvas, current_user))}");

