= render :partial => "header"
%p#notice= notice

%p
  %b Name:
  = @canvas.name
%p
  %b Mission:
  = @canvas.mission
%p
  %b Image url:
  = @canvas.image_url
%p
  %b Creator:
  = @canvas.creator_id
%h2
  Input Stream:

%h2
  Pages

%p 
  = link_to 'Create Page', new_page_path

= link_to 'Edit', edit_canvas_path(@canvas)
\|
= link_to 'Back', canvae_path


:javascript
  $(function(){
    mpq.push(["track","hit_canvas_homepage");  
  })