= render :partial => "header"
%p#notice= notice

%p
  %b Name:
  = @canvas.name
  = @canvas.id

%p
  %b Mission:
  = @canvas.mission
%p
  %b Image url:
  = @canvas.image_url
%p
  %b Creator:
  = @canvas.creator_id
%h2
  Input Stream:

%h2
  Pages
    
- @canvas.pages.each do |page|
  %ul
    %li
      = link_to page.title, canvas_page_path(@canvas,page.id)

%p 
  = link_to 'Create Page', new_canvas_page_path(@canvas)

= link_to 'Edit', edit_canvas_path(@canvas)
\|
= link_to 'Back', canvae_path

:javascript
  $(function(){
    mpq.push(["track","hit_canvas_homepage");  
  })
