- content_for(:opengraph_meta_tags, opengraph_meta_tags_for(@canvas, :url => canvas_url(@canvas), :site_name => @canvas.name))
- content_for :stylesheets do
  = stylesheet_link_tag 'compiled/canvas.css', :media => 'screen, projection'
- content_for :javascripts do
  = javascript_include_tag 'canvas_show'  

= render 'shared/welcome'

- if can?(:apply, @canvas)
  .apply-join
    - if @canvas.closed?
      #apply.button
        Apply Now
      #apply-form
        %form#applicant_form
          %div Please let us know why you would like to join this community
          %textarea#note{:value => current_user.id, :name => "note", :style => "height:125px"}
    - else
      #join.button
        Join Now

-if @canvas.id == 46
  %br
  %p
    We all have questions, I know I have many! I figured this may be a great platform to share my research and findings with other Porsche Enthusiasts and owners. Within these pages you will find the latest news from tuner and racing circles, in depth info and reviews on performance parts and DIY projects, and entertaining yet relevant videos/multimedia from around the globe.
  %p
    If you're looking to be part of an exclusive community who's specific purpose is to help one another through the accumulation, organization, and sharing of knowledge and information focused specifically on this German Marquis Brand, then Loorp was built for you.
  %p
    Our passion is one driven by powerful emotions, childhood dreams and uncompromising aspirations. Porsche: Engineered for magic

#pages
  - if can? :create, Page.new(:canvas => @canvas)
    #toolbar
      %a.add_page.tab{:href => new_canvas_page_path(@canvas), :data => {:content_type => "page", :canvas_id => @canvas.id}} New Page
    = hint_for(@canvas, current_user, "page")
  / %ul.page_list
  / - @canvas.pages.each do |page|
  /   %li.page_icon_grid
  /     %a{:href => canvas_page_path(@canvas, page)}
  /       %img{:src => "/images/page.png"}
  /       .page_icon_title= page.title
        
        
  %ul.related_page_link{:style => "max-height:135px; overflow:auto;"}
    - @canvas.pages.each do |page|
      -if page != @page
        %a.related_page_link{:href => canvas_page_path(@canvas, page), :title => page.title}
          %li.related_page_link{:style => "float:left; width:240px;"}
            .page_title=page.title
            .last_modified{:style => "font-size:11px;"}
              Modified by
              =page.editor
              %br
              -if page.updated_at > 12.hours.ago 
                #{time_ago_in_words(page["updated_at"])} ago
              -else
                on #{page.updated_at.strftime("%b %d %Y %I:%M %p")}


- if can?(:create, Widget.new(:canvas => @canvas))
  %br
  #toolbar
    %a.add_widget.tab{:href => "#", :data => {:content_type => "text_content", :canvas_id => @canvas.id}} Add snippet
    %a.add_widget.tab{:href => "#", :data => {:content_type => "image_content", :canvas_id => @canvas.id}} Share a photo
    %a.add_widget.tab{:href => "#", :data => {:content_type => "link_content", :canvas_id => @canvas.id}} Post a link
    %a.add_widget.tab{:href => "#", :data => {:content_type => "question_content", :canvas_id => @canvas.id}} Ask a question
    
    %div{:style => "float:right;"}
      = render 'add_via_bookmarklet'
      = render 'add_via_email'
  
  %ul#inline_form
    - @new_widgets.each do |t, widget|
      %div{:style => "display:none;"}
        = render :partial => "widgets/canvas_feed", :object => widget, :as => :widget
= hint_for(@canvas, current_user, "widget")
\
%ul#feed
  = render :collection => Widget.for_canvas(@canvas.id,1), :partial => "widgets/canvas_feed", :as => :widget
  
.widget_history_content


