- content_for(:opengraph_meta_tags, opengraph_meta_tags_for(@canvas, :url => canvas_url(@canvas)))
- content_for :head do
  = stylesheet_link_tag 'canvas.css', :media => 'screen, projection'


#edit_dialog
  %iframe#edit_frame{:src => ""}

%p#notice= notice

.span-8.first
  #overview
    = image_tag @canvas.image if @canvas.image.present?
    %p
      %b Name:
      = @canvas.name
      = render "facebook_share"
    %p
      %b Mission:
      = @canvas.mission

    %p
      %b Creator:
      = @canvas.creator
    
    = link_to 'Edit', edit_canvas_path(@canvas)  
    
  #pages
    %h2
      Pages
    %ul
    - @canvas.pages.each do |page|
      %li
        = link_to page.title, canvas_page_path(@canvas, page)
        
    %p 
      = link_to 'Create Page', new_canvas_page_path(@canvas)

.span-16.last
  #inputs
    - if current_user
      %h2.bookmarklet
        Install Bookmarklet

      %p
        ="drag the box below to your bookmark toolbar. #{host_uri}"
      
      .info
        %a#bookmarklet{:href => "#", :style => "padding:15px 400px 15px 15px"} 
          ==add to #{@canvas.name}
        
    .info
      #see_video
        %button
          Click here
        see video on how to install bookmarklet for your canvas
      #instructions{:style => "display:none"}
        %iframe{:width=>"425", :height=>"349", :src=>"http://www.youtube.com/embed/QrwevUN0KdQ"} 


  %h2 Input Stream
  %ul#input_stream
  = link_to "Add Text", new_canvas_widget_path(@canvas), :data_content_type => "text_content", :class => "add_content"
  = link_to "Add Image", new_canvas_widget_path(@canvas, :content_type => 'image_content'), :data_content_type => "image_content", :class => "add_content"

  #discussions

- if current_user
  :javascript
    $("a#bookmarklet")
      .mousedown(function(){
        // Track the bookmarklet install.
        mpq.push(['track','install_bookmark']);
      })
      .attr("href", "javascript:(function(){_my_var=document.createElement('SCRIPT');_my_var.type='text/javascript';_my_var.innerText='canvas_id=#{@canvas.id};user_id=#{current_user.id}';host_uri='#{host_uri}';_my_script=document.createElement('SCRIPT');_my_script.type='text/javascript';_my_script.src='#{host_uri}/javascripts/post-link.js';element=document.getElementsByTagName('body')[0];element.appendChild(_my_var);element.appendChild(_my_script);})();"
      );
    
:javascript    
  var the_edit_dialog = $("#edit_dialog").dialog({
    minHeight:250, 
    minWidth:500, 
    autoOpen:false
  });
  
  close_edit_dialog = function(){
    the_edit_dialog.dialog("close");
  }
  
  open_edit_dialog = function(){
    the_edit_dialog.dialog("open");
  }
  
  set_dialog_title = function(title){
    the_edit_dialog.dialog("option","title", title);
  }
  
  set_edit_frame_src = function(src){
    $("#edit_frame").attr("src", src);
  }
  
  $(".add_content").click(function(event){
    var content_type = $(this).attr("data_content_type");
    set_edit_frame_src("/canvae/#{@canvas.id}/widgets/new?content_type=" + content_type);
    set_dialog_title("New Widget");
    open_edit_dialog();
    event.preventDefault();
  });
  
  enable_widget_tooltips = function(){
    $("a.tooltip").each(function(){
      $(this).qtip({
        content: $(this).parents().filter(".widget").find(".content").html(),
        show: 'mouseover',
        hide: 'mouseout',
        position: {
          corner: { 
            target: 'bottomLeft', 
            tooltip: 'topRight' 
          }
        },
        style: {
          width: 572,
          border: {
            width: 5,
            radius: 10
          },
          padding: 10, 
          tip: true,
          name: 'light' 
        }
      });
    });
  }
  
  
  reload_widgets = function(){
    // Load input stream widgets
    $("ul#input_stream").load("/canvae/#{@canvas.id}/widgets", function(){
      enable_widget_tooltips();      
    });
    
  }

  reload_widgets();
  
  reload_discussions = function(){
    // Load input stream widgets
    $("#discussions").load("/canvae/#{@canvas.id}/discussions?width=600");
  }
  
  $(document).ready(function(){
    reload_discussions();
  });
  
  reload_discussions();
  
  mpq.push(["track","hit_canvas_homepage"]);
  window.mixpanelobject=mpq;  
  
  $("#see_video button").click(function(){
    $("#instructions").toggle();
    $("#see_video").toggle();
  });


  
