- content_for(:opengraph_meta_tags, opengraph_meta_tags_for(@canvas, :url => canvas_url(@canvas), :site_name => @canvas.name))
- content_for :head do
  = stylesheet_link_tag 'canvas.css', :media => 'screen, projection'
- content_for :javascripts do
  = javascript_include_tag 'widget.js'  

#widget_dialog
  %iframe{:src => ""}

.span-4.first
  #overview
    = image_tag @canvas.image if @canvas.image.present?
    %p
      %b Name:
      = @canvas.name
      = render "facebook_share"
      - if current_user
        #follow_status
          #follow
            %button Follow
          #unfollow
            %button Stop following
            Following this canvas
    %p
      %b Mission:
      = @canvas.mission

    %p
      %b Creator:
      = @canvas.creator
    
    = link_to 'Edit', edit_canvas_path(@canvas)  
    
  #pages
    %h2
      Pages
    %ul
    - @canvas.pages.each do |page|
      %li
        = link_to page.title, canvas_page_path(@canvas, page)
        
    %p 
      = link_to 'Create Page', new_canvas_page_path(@canvas)

.span-20.last
  #inputs
    - if current_user
      %h2.bookmarklet
        Install Bookmarklet

      %p
        ="Drag the box below to your bookmark toolbar."
        %span#see_video
          %a
            How to install a bookmarklet?
      #instructions{:style => "display:none"}
        .info
          %iframe{:width=>"425", :height=>"349", :src=>"http://www.youtube.com/embed/QrwevUN0KdQ"}
        
      .info
        %a#bookmarklet{:href => "#", :style => "padding:10px 400px 10px 0"} 
          = "add to #{@canvas.name}"

  %h2 Feed
  %a.add_widget{:data_content_type => "text_content", :href => "#"} Add Text
  %a.add_widget{:data_content_type => "image_content", :href => "#"} Add Image
  %ul#feed


- if current_user
  :javascript
    $("a#bookmarklet")
      .mousedown(function(){
        // Track the bookmarklet install.
        mpq.push(['track','install_bookmark']);
      })
      .attr("href", "javascript:(function(){_my_var=document.createElement('SCRIPT');_my_var.type='text/javascript';_my_var.text='canvas_id=#{@canvas.id};user_id=#{current_user.id}';host_uri='#{host_uri}';_my_script=document.createElement('SCRIPT');_my_script.type='text/javascript';_my_script.src='#{host_uri}/javascripts/bookmarklet_dialog.js';element=document.getElementsByTagName('body')[0];element.appendChild(_my_var);element.appendChild(_my_script);})();"
      );

:javascript
  var canvas_id = #{@canvas.id};
  
  var user = {
    is_logged_in : #{!current_user.nil?},
    is_following : #{current_user ? current_user.following?(@canvas) : false}
  }
  
  if(user.is_logged_in){
    if(user.is_following){
      $("#follow").hide();
    } else {
      $("#unfollow").hide();
    }
  } else {
    $("#follow_status").hide();
  }
  
  var toggle_follow_status = function(){
    $("#follow").toggle();
    $("#unfollow").toggle();
  }
    
  $("#follow button").click(function(){
    toggle_follow_status();
    $.post("/follows/", {followable_type: 'canvas', followable_id: canvas_id}, function(){
      reload_hud();  
    });
    
  });
  
  $("#unfollow button").click(function(){
    toggle_follow_status();
    $.post("/follows/", {_method : "DELETE", followable_type: 'canvas', followable_id: canvas_id}, function(){
      reload_hud();
    });
    
  });

  
  var enable_widget_tooltips = function(){
    // Enable the toggle preview qtips.
    $(".toggle_preview").each(function(){
      $(this).qtip({
        content: $(this).parents().filter(".widget").find(".content").html(),
        show: 'mouseover', hide: 'mouseout',
        position: { corner: { target: 'bottomLeft', tooltip: 'topRight' }, adjust: { screen: true } },
        style: {
          width: 572,
          border: { width: 5, radius: 10 },
          padding: 10, 
          tip: true,
          name: 'light' 
        }
      });
    });
  }
    
  var reload_widgets = function(){
    $("ul#feed").load("/widgets/for_canvas/" + canvas_id + "/canvas_feed", function(){
       enable_widget_tooltips();     
       FB.XFBML.parse();
       $("ul#feed .widget").each(function(){
         
         var $widget = $(this);
         var widget_url = request.root_url + "widgets/" + $widget.attr("data_widget_id");
         
         countComments(widget_url, function(n){
           var text = "";
           if(n == 0){
             text = "Join the discussion";
           } else if(n == 1){
             text = "Show 1 comment.";
           } else {
             text = "Show " + n + " comments.";
           }
           $('.toggle_facebook_comments', $widget).text( text );
           
         });
         
       })
    });
  }  
  reload_widgets();
  
  var update_after_edit = function(){
    reload_widgets();
    $widget_dialog.dialog("close");
  }
    
  var load_new_widgets = function(){
     // Get highest data_widget_id value on page.
     var max_widget_id = 0;
     $("#feed li.widget").each(function(){
       if ($(this).attr("data_widget_id") * 1 > max_widget_id) {
         max_widget_id = $(this).attr("data_widget_id");
       }
     });
     // Get html for any new widgets and append to the feed.
     $.get('/widgets/for_canvas/' + canvas_id + '/canvas_feed?start=' + (1*max_widget_id + 1), function(data) {
       if(data.length > 1){
         $(data).appendTo("#feed");
         enable_widget_tooltips();
       }
     });  
   };
  setInterval(load_new_widgets, 15000); 

  var user = #{current_user ? current_user.id : 0};

  FB.Event.subscribe('comment.create',
      function(response) {
          widget_id = _.last(response.href.split('/')) * 1;
          if (user !== 0){
            $.post("/follows/", {followable_type: 'widget', followable_id: widget_id}, function(){
              reload_hud();
              });
          }
          mpq.push(["track","comment_added", {'type':"facebook", "widget":widget_id,"user": user}]);
      }
  );

  FB.Event.subscribe('comment.remove',
      function(response) {
          mpq.push(["track","comment_removed" , {'type' : "facebook", 'widget' : widget_id, "user": user}]);
      }
  );

  mpq.push(["track","hit_canvas_homepage"]);
  window.mixpanelobject=mpq;  
  
  $("#see_video").click(function(){
    $("#instructions").toggle();
  });
  
  $("#instructions").click(function(){
    $("#instructions").toggle();
  });
  
  $(".widget .toggle_facebook_comments").live('click', function(event){
    event.preventDefault();
    
    var $facebook_comments = $(this).siblings(".facebook_comments")  
    $facebook_comments.toggle();
    
    $(this).remove();    
    
  });

