- content_for(:opengraph_meta_tags, opengraph_meta_tags_for(@canvas, :url => canvas_url(@canvas), :site_name => @canvas.name))
- content_for :stylesheets do
  = stylesheet_link_tag 'canvas.css', :media => 'screen, projection'
- content_for :javascripts do
  = javascript_include_tag 'widget.js'  

#widget_dialog
  %iframe{:src => ""}

.span-4.first
  #overview
    = image_tag @canvas.image if @canvas.image.present?
    %p
      %b Name:
      = @canvas.name
      = render "facebook_share"
      - if current_user
        #follow_status
          #follow{:style => hidden_if(current_user.following?(@canvas))}
            %button Follow
          #stop_following{:style => hidden_if(!current_user.following?(@canvas))}
            %button Stop following
            %p
              Following this canvas
                        
    %p
      %b Mission:
      = @canvas.mission

    %p
      %b Creator:
      = @canvas.creator
    
    = link_to 'Edit', edit_canvas_path(@canvas)  
    
  #pages
    %h2
      Pages
    %ul
    - @canvas.pages.each do |page|
      %li
        = link_to page.title, canvas_page_path(@canvas, page)
        
    %p 
      = link_to 'Create Page', new_canvas_page_path(@canvas)

.span-20.last
  #inputs
    - if current_user
      %h2.bookmarklet
        Install Bookmarklet

      %p
        ="Drag the box below to your bookmark toolbar."
      %p
        %a#toggle_bookmarklet_video{:href => "#"} How to install a bookmarklet?
      #bookmarklet_video.info{:style => "display:none"}
        %iframe{:width=>"425", :height=>"349", :src => "http://www.youtube.com/embed/QrwevUN0KdQ"}
        
      .info
        %a#bookmarklet{:href => "#", :style => "padding:10px 400px 10px 0"} 
          = "add to #{@canvas.name}"

  %h2 Feed
  = render :partial => 'shared/add_widgets'
  %ul#feed


- if current_user
  :javascript
    $("a#bookmarklet")
      .mousedown(function(){
        // Track the bookmarklet install.
        mpq.push(['track','install_bookmark']);
      })
      .attr("href", "javascript:(function(){_my_var=document.createElement('SCRIPT');_my_var.type='text/javascript';_my_var.text='canvas_id=#{@canvas.id};user_id=#{current_user.id}';host_uri='#{host_uri}';_my_script=document.createElement('SCRIPT');_my_script.type='text/javascript';_my_script.src='#{host_uri}/javascripts/bookmarklet_dialog.js';element=document.getElementsByTagName('body')[0];element.appendChild(_my_var);element.appendChild(_my_script);})();"
      );

:javascript
      
  $("#follow button").click(function(){
    FollowHelper.toggle_follow_status();
    FollowHelper.follow('canvas', request.canvas_id, reload_hud);
  });
  
  $("#stop_following button").click(function(){
    FollowHelper.toggle_follow_status();
    FollowHelper.stop_following('canvas', request.canvas_id, reload_hud);    
  });
  
  var enable_widget_tooltips = function(){
    // Enable the toggle preview qtips.
    $(".toggle_preview").each(function(){
      $(this).qtip({
        content: $(this).parents().filter(".widget").find(".content").html(),
        show: 'mouseover', hide: 'mouseout',
        position: { corner: { target: 'bottomLeft', tooltip: 'topRight' }, adjust: { screen: true } },
        style: {
          width: 572,
          border: { width: 5, radius: 10 },
          padding: 10, 
          tip: true,
          name: 'light' 
        }
      });
    });
  }
    
  var reload_widgets = function(){
    $("ul#feed").load("/widgets/for_canvas/" + request.canvas_id + "/canvas_feed", function(){
       enable_widget_tooltips();     
       FB.XFBML.parse();
       $("ul#feed .widget").each(function(){
         
         var $widget = $(this);
         var widget_url = request.root_url + "widgets/" + $widget.data("widget_id");
         
         countComments(widget_url, function(n){
           var text = "";
           if(n == 0){
             text = "";
           } else {
             text = n;
           }
           $('.toggle_facebook_comments span', $widget).text( text ).show();
           
         });
         
       })
    });
  }  
  reload_widgets();
  
  var update_after_edit = function(){
    close_widget_dialog();
    reload_widgets();
  }
    
  var load_new_widgets = function(){
     // Get highest widget_id value on page.
     var max_widget_id = 0;
     $("#feed li.widget").each(function(){
       if ($(this).data("widget_id") * 1 > max_widget_id) {
         max_widget_id = $(this).data("widget_id");
       }
     });
     // Get html for any new widgets and append to the feed.
     $.get('/widgets/for_canvas/' + request.canvas_id + '/canvas_feed?start=' + (1*max_widget_id + 1), function(data) {
       if(data.length > 1){
         $(data).appendTo("#feed");
         enable_widget_tooltips();
       }
     });  
   };
  setInterval(load_new_widgets, 15000); 
  
  FB.Event.subscribe('comment.create',
      function(response) {
          var widget_id = _.last(response.href.split('/')) * 1;
          if (request.user_id !== 0){
            FollowHelper.follow('widget', widget_id, reload_hud);
          }
          mpq.push(["track","comment_added", {type: "facebook", widget: widget_id, user_id : request.user_id} ]);
      }
  );
  
  FB.Event.subscribe('comment.remove',
      function(response) {
          mpq.push(["track","comment_removed" , {type: "facebook", widget : widget_id, user_id : request.user_id} ]);
      }
  );
  
  mpq.push(["track","hit_canvas_homepage"]);  
  
  $("#toggle_bookmarklet_video").click(function(){
    $("#bookmarklet_video").toggle();
  });
    
  $(".widget .toggle_facebook_comments").live('click', function(event){
    event.preventDefault();
    console.log($(this).parents(".widget").first().parent().find(".facebook_comments"));
    $(this).parents(".widget").first().parent().find(".facebook_comments").toggle();
    FB.XFBML.parse();
  });

