= render :partial => "header"
%p#notice= notice

%p
  %b Name:
  = @canvas.name
  = @canvas.id

%p
  %b Mission:
  = @canvas.mission
%p
  %b Image url:
  = @canvas.image_url
%p
  %b Creator:
  = @canvas.creator_id
%h2
  Input Stream:

%h2
  Pages
    
- @canvas.pages.each do |page|
  %ul
    %li
      = link_to page.title, page_path(page.id)

%p 
  = link_to 'Create Page', new_page_path

= link_to 'Edit', edit_canvas_path(@canvas)
\|
= link_to 'Back', canvae_path
