- width = params[:width]||600
- defined? current_user ? user = current_user.id : user = 0
.fb-discussion
  %h2
    Discussions
  = comments_for(@obj, :href => @href, :width => width)

:javascript
  FB.XFBML.parse();

  FB.Event.subscribe('comment.create',
      function(response) {
          mpq.push(["track","comment_added", {'type':"facebook", "#{@obj.to_s}":"#{@obj.id}","user": "#{user}"}]);
      }
  );
  
  FB.Event.subscribe('comment.remove',
      function(response) {
          mpq.push(["track","comment_removed" , {'type' : "facebook", '#{@obj.to_s}' : "#{@obj.id}", "user":"#{user}"}]);
      }
  );
  