= form_for @comment do |f|
  -if @comment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@comment.errors.count, "error")} prohibited this comment from being saved:"
      %ul
        - @comment.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :creator_id
    = f.text_field :creator_id
  .field
    = f.label :content
    = f.text_area :content
  .field
    = f.label :widget_id
    = f.text_field :widget_id
  .actions
    = f.submit 'Save'
