%h1 Listing comments

%table
  %tr
    %th Content
    %th Creator
    %th Thing
    %th
    %th
    %th

  - @comments.each do |comment|
    %tr
      %td= comment.content
      %td= comment.creator_id
      %td= comment.thing_id
      %td= link_to 'Show', comment
      %td= link_to 'Edit', edit_comment_path(comment)
      %td= link_to 'Destroy', comment, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Comment', new_comment_path
