= form_for([@canvas,@thing]) do |f|
  -if @thing.errors.any?
    #error_explanation
      %h2= "#{pluralize(@thing.errors.count, "error")} prohibited this thing from being saved:"
      %ul
        - @thing.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :canvas_id
    = f.text_field :canvas_id
  .field
    = f.label :content
    = f.text_area :content
  .field
    = f.label :creator_id
    = f.text_field :creator_id
  .actions
    = f.submit 'Save'
