%h1 Listing things

%table
  %tr
    %th Canvas
    %th Content
    %th Creator
    %th
    %th
    %th

  - @things.each do |thing|
    %tr
      %td= thing.canvas_id
      %td= thing.content
      %td= thing.creator_id
      %td= link_to 'Show', thing
      %td= link_to 'Edit', edit_canvas_thing_path(@canvas,thing)
      %td= link_to 'Destroy', thing, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Thing', new_canvas_thing_path(@canvas)
