%p#notice= notice

%p
  %b Canvas:
  = @thing.canvas_id
%p
  %b Content:
  = @thing.content
%p
  %b Creator:
  = @thing.creator_id

= link_to 'Edit', edit_thing_path(@thing)
\|
= link_to 'Back', things_path
