%h2 HUD

%p== Following #{pluralize(current_user.following_by_type_count('Canvas'), "canvas")}

%ul
  - current_user.following_by_type('Canvas').each do |canvas|
    %li= link_to canvas.name, canvas_path(canvas)
  
%p== Following #{pluralize(current_user.following_pages_count, "page")}

%ul
  - current_user.following_by_type('Page').each do |page|
    %li= link_to page.title, canvas_page_path(page.canvas, page)

%p== Following #{pluralize(current_user.following_widgets_count, "widget")}

%ul
  - current_user.following_by_type('Widget').each do |widget|
    %li= link_to widget.text.truncate(30), widget_path(widget)

%p
  %b My Settings

%p
  = link_to "Account Settings", edit_user_path

  