- class_string = widget.content_type
- if can? :manage , widget
  - class_string = widget.content_type + " widget_editable"
  
%li.widget.canvas_feed_widget{:data => {:widget_id => widget.id} , :class => class_string }
  .body
    .title
      .comment_count
        %a.toggle_facebook_comments{:href => "#"} 
          %span
            comment
    .toolbox.top
      = render_widget_section("edit_link")
      
    .toolbox.bottom  
      = render_widget_section("toggle_preview_link")  
    .content
      = render_widget_section("content", widget)        
    .edit_content
      = render_widget_section("inline_form", widget)
      
  .tags
    = render_widget_section("tags", widget)
  .comments
    = render_widget_section("comments", widget)
     
