%li.widget.canvas_feed_widget{:data => {:widget_id => widget.id}}

  = render_widget_section("toggle_preview_link")
  = render_widget_section("edit_link")
    
  .content
    = render_widget_section("content", widget)

  .preview
    = render_widget_section("preview", widget)
    
  .comments
    = render_widget_section("comments", widget)
    
  .tags
    = render_widget_section("tags", widget)  
