%li.widget.canvas_input_stream_widget{:data_widget_id => widget.id, :comment_href => "#{widget_url(widget)}"}

  = render_widget_section("toggle_preview_link")
  = render_widget_section("edit_link")
    
  .content
    = render_widget_section("content", widget)

  .preview
    = render_widget_section("preview", widget)
    
  .comments
    = render_widget_section("comments")
