= form_for [@canvas, @widget] do |f|
  - case @widget.content_type
  - when 'text_content'
    .field
      = f.text_area :content
  
  - if @widget.page
    %input{:type => "hidden", :name => "widget[page_id]", :value => "#{@widget.page.id}"}

  %input{:type => "hidden", :name => "widget[content_type]", :value => "#{@widget.content_type}"}
  .actions
    = f.submit 'Save'
    
:javascript
  $(function(){
    $("#widget_content").ckeditor({toolbar : "Body"});
  });

