= form_for [@canvas, @widget] do |f|

  = render_form @widget.content
  
  %input{:type => "hidden", :name => "content_type", :value => "#{params[:content_type]}"}
  %input{:type => "hidden", :name => "widget[page_id]", :value => "#{params[:page_id]}"}
  .actions
    = f.submit 'Save'

