%li.widget{:data_widget_id => widget.id, :data_has_page => widget.page ? 1 : 0}

  .controls
    %img.handle{:src => "/images/grip.png"}
    %a.edit_widget{:href => "#"} edit
    %span.delete
      \/
      %a.delete_widget{:href => "#"} delete
    %span.discuss
      \/
      = link_to "discuss", canvas_widget_path(widget.canvas, widget)
    %span.tooltip  
      \/
      %a.tooltip{:href => "#"} preview
    
  .content
    - case widget.content_type
  
    - when 'text_content'
      %p= raw(widget.content)  
    - when 'image_content'
      %img{ :src => "#{widget.content}", :alt => "#{widget.alt_text}", :title => "#{widget.alt_text}", :class=>"image_content" }
    %p  
      %strong= "submitted by #{widget.creator.name}"
  
  .preview
    %p= raw(widget.preview)    
      
  .comments  
    = render widget.comments
    - if current_user
      = render :partial => 'comments/form_instream', :locals => { :widget => widget }
    - else
      = link_to "Log in", "/auth/facebook"
      to comment


