- defined? current_user ? user = current_user.id : user = 0
%li.widget{:data_widget_id => widget.id, :data_has_page => widget.page ? 1 : 0}

  .controls
    %img.handle{:src => "/images/grip.png"}
    %a.edit_widget{:href => "#"} edit
    %span.delete
      \/
      %a.delete_widget{:href => "#"} delete
    %span.tooltip_divide
      \/
    %span.tooltip
      %a.tooltip{:href => "#"} preview
    
  .content
    - case widget.content_type
  
    - when 'text_content'
      %p= raw(widget.content)  
    - when 'image_content'
      %img{ :src => "#{widget.content}", :alt => "#{widget.alt_text}", :title => "#{widget.alt_text}"}
  
  .preview
    - case widget.content_type
    
    - when 'text_content'
      %p= raw(widget.content.truncate(40))
    - when 'image_content'
      %img{ :src => "#{widget.content}", :alt => "#{widget.alt_text}", :title => "#{widget.alt_text}"}
      
  %div{:id => "comments_widget_#{widget.id}", :class => "comments"}
  
  %div{:id => "comment_hide_#{widget.id}", :class => "comments-hide hide"}
    hide comments
  %div{:id => "comment_see_#{widget.id}", :class => "comments-see"}
    see all comments
  
  
  %div{:id => "comments_view_add_#{widget.id}", :class => "comments-view-add"}

:javascript
  FBCallbacks.push(function (){
    FB.api('/comments?ids=#{canvas_widget_url(widget.canvas, widget)}', function(response) {
      pageinfo = response["#{canvas_widget_url(widget.canvas, widget)}"]["data"];
      length = pageinfo["length"];
      $("#comments_widget_#{widget.id}").html( length + ' comments');
    });
  });

  $("#comment_see_#{widget.id}").click( function(){
    $("#comments_view_add_#{widget.id}").load( '#{discussion_path(widget.class.name.to_s.downcase, widget.id)}?href=#{canvas_widget_url(widget.canvas, widget)}&width=600' );
    mpq.push(['track','comment_read', {'type':'facebook', '#{widget.class.name}':'#{widget.id}','user': '#{user}'}]);  
    $("#comment_see_#{widget.id}").addClass('hide');
    $("#comment_hide_#{widget.id}").removeClass('hide');
  });
  
  $("#comment_hide_#{widget.id}").click( function(){
    $("#comments_view_add_#{widget.id}").addClass( 'hide' );
    $("#comment_hide_#{widget.id}").addClass('hide');    
    $("#comment_see_#{widget.id}").removeClass('hide');
    
  });
  

