%li.widget{:data_widget_id => widget.id}

  %img.handle{:src => "/images/grip.png"}

  .controls
    %a.edit_widget{:href => "#"} edit
    \/
    %a.delete_widget{:href => "#"} delete
    
  .content
    - case widget.content_type
  
    - when 'text_content'
      %p= widget.content  
    - when 'image_content'
      %img{ :src => "#{widget.content}", :alt => "#{widget.alt_text}", :title => "#{widget.alt_text}" }
      
  = render widget.comments
  
  = link_to "discuss", canvas_widget_path(@canvas, widget)
  