- defined? current_user ? user = current_user.id : user = 0
%li.widget{:id => "widget_#{widget.id}",:data_widget_id => widget.id, :data_has_page => widget.page ? 1 : 0}

  .controls
    %img.handle{:src => "/images/grip.png"}
    %a.edit_widget{:href => "#"} edit
    %span.delete
      \/
      %a.delete_widget{:href => "#"} delete
    %span.tooltip_divide
      \/
    %span.tooltip
      %a.tooltip{:href => "#"} preview
    
  .content
    - case widget.content_type
  
    - when 'text_content'
      %p= raw(widget.content)  
    - when 'image_content'
      %img{ :src => "#{widget.content}", :alt => "#{widget.alt_text}", :title => "#{widget.alt_text}"}
  
  .preview
    - case widget.content_type
    
    - when 'text_content'
      %p= raw(widget.content.truncate(40))
    - when 'image_content'
      %img{ :src => "#{widget.content}", :alt => "#{widget.alt_text}", :title => "#{widget.alt_text}"}
  .comments
    %div{:id => "comments_widget_#{widget.id}", :class => "comments"}
    %a{:id => "comment_hide_#{widget.id}", :class => "comments-hide hide", :style => "cursor:pointer;"}
      hide comments
    %a{:id => "comment_see_#{widget.id}", :class => "comments-see", :style => "cursor:pointer;"}
      see all comments
    %div{:id => "comments_view_add_#{widget.id}", :class => "comments-view-add"}

:javascript
    if( $(".comments").css("display") != "none"){
      FBCallbacks.push(function (){
        FB.api('/comments?ids=#{canvas_widget_url(widget.canvas, widget)}', function(response) {
          length = 0;
          if( "#{canvas_widget_url(widget.canvas, widget)}" in response ){
            pageinfo = response["#{canvas_widget_url(widget.canvas, widget)}"]
            if( "data" in pageinfo ){
              length = pageinfo["data"]["length"];
            }
          }
          $("li#widget_#{widget.id}").attr("comments", length);
          $("#comments_widget_#{widget.id}").html( length + ' comments');
        });
      }); 
    }
  
  

  $("#comment_see_#{widget.id}").click( function(){
    if( $("#comments_view_add_#{widget.id}").hasClass( 'hide' ) ){
      $("#comments_view_add_#{widget.id}").removeClass( 'hide' );
    }
    else {
      // get comments-view-add width
      try{
        width = $(".comments-view-add").css("width");
      }
      catch(err){
        width = "600px";
      }
      
      // add comment box
      $("#comments_view_add_#{widget.id}").load( '#{discussion_path(widget.class.name.to_s.downcase, widget.id)}?href=#{canvas_widget_url(widget.canvas, widget)}&width=' + width );
    }
    mpq.push(['track','comment_read', {'type':'facebook', '#{widget.class.name}':'#{widget.id}','user': '#{user}'}]);  
    $("#comment_see_#{widget.id}").addClass('hide');
    $("#comment_hide_#{widget.id}").removeClass('hide');
  });
  
  $("#comment_hide_#{widget.id}").click( function(){
    $("#comments_view_add_#{widget.id}").addClass( 'hide' );
    $("#comment_hide_#{widget.id}").addClass('hide');    
    $("#comment_see_#{widget.id}").removeClass('hide');
    
  });
  

