%p#notice= notice

%p
  %b Name:
  = @widget.name
%p
  %b Position:
  = @widget.position
%p
  %b Page:
  = @widget.page_id
%p
  %b Canvas:
  = @widget.canvas_id
%p
  %b Creator:
  = @widget.creator_id
%p
  %b Content:
  = @widget.content_id
%p
  %b Content type:
  = @widget.content_type

= link_to 'Edit', edit_widget_path(@widget)
\|
= link_to 'Back', widgets_path
