- content_for :head do
  = stylesheet_link_tag 'widget.css', :media => 'screen, projection'

%ul#show_widget
  = render @widget

%h2 Comments
= render @widget.comments

- if current_user
  #new_comment
    = form_for @widget.comments.new do |f|
      .field
        = f.label :content
        = f.text_area :content
        = f.hidden_field :widget_id, :value => @widget.id
      .actions
        = f.submit 'Save'
        