- content_for :head do
  = stylesheet_link_tag 'page.css', :media => 'screen, projection'

#widget_dialog
  %iframe{:src => ""}

.span-16
  %h1 Page

  = form_for([@page.canvas, @page], :html => {:id => "update_page"}) do |f|
    .field
      = f.label :title
      = f.text_field :title, :class => "title"
      = f.submit 'Update'

  #toolbar
    %a#add_text_widget{:href => "#"}
      Add Text Widget
      
  %ul#page

.span-8.last
  %h2 Input Stream
  %ul#input_stream

.span-24.last
  = link_to 'Show', canvas_page_path(@page.canvas, @page)
  \|
  = link_to "Versions", versions_canvas_page_path(@page.canvas, @page)
  \|
  = link_to 'View Canvas', canvas_path(@page.canvas)
  
:javascript
  
  var user_id = #{current_user.id};
  var canvas_id = #{@page.canvas.id};
  var page_id = #{@page.id};  
  
  var mixpanel_attributes = {
    user_id : user_id,
    page_id : page_id
  }
    
  var reload_page_widgets = function(){
    $("ul#page").load("/widgets/for_page/" + page_id + "/editable/");
  }
  
  var reload_input_stream_widgets = function(){
    $("ul#input_stream").load("/widgets/for_canvas/" + canvas_id + "/page_feed", function(){
      
      // Make the widgets draggable.
      $("li.widget", $(this)).draggable({
        appendTo: "body",
        helper: "clone",
        connectToSortable: 'ul#page',
        opacity: 0.6,
        revert: 'invalid',
        revertDuration: 200,
        handle: 'img.handle'
      });
      
      // Enable the toggle preview qtips.
      $("a.toggle_preview", $(this)).each(function(){
        $(this).qtip({
          content: $(this).parents().filter(".widget").find(".content").html(),
          show: 'mouseover', hide: 'mouseout',
          position: { corner: { target: 'bottomLeft', tooltip: 'topRight' } },
          style: {
            width: 572,
            border: { width: 5, radius: 10 },
            padding: 10, 
            tip: true,
            name: 'light' 
          }
        });
      });
          
    });
  }
  
  reload_widgets = function(){
    reload_page_widgets();
    reload_input_stream_widgets();
  }
  
  var $widget_dialog = $("#widget_dialog").dialog({
    minHeight:250, 
    minWidth:500, 
    autoOpen:false
  });
      
  close_edit_dialog = function(){
    $widget_dialog.dialog("close");
  }
  
  $("a#add_text_widget").click(function(event){
    $("iframe", $widget_dialog).attr("src", "/widgets/new?page_id=" + page_id + "&content_type=text_content");
    $widget_dialog.dialog("option","title", "New Text Widget");
    $widget_dialog.dialog("open");
    
    mpq.push(["track","page_add_new_widget", mixpanel_attributes ]);
    
    event.preventDefault();
  });
  
  $(".page_edit_widget .edit").live("click", function(event){
    var widget_id = $(this).parents(".widget").attr("data_widget_id");
    $("iframe", $widget_dialog).attr("src", "/widgets/" + widget_id + "/edit");
    $widget_dialog.dialog("option","title", "Edit Widget");
    $widget_dialog.dialog("open");
    
    mixpanel_attributes.widget_id = widget_id;
    mpq.push(["track","page_edit_widget", mixpanel_attributes]);
    
    event.preventDefault();
  });
  
  $(".page_edit_widget .delete").live("click", function(event){
    // Delete from the server.
    var $widget = $(this).parents(".widget");
    var widget_id = $widget.attr("data_widget_id");
    $.post("/widgets/" + widget_id, { _method : 'DELETE' });
  
    // Remove from the DOM.
    $widget.remove();
    
    mixpanel_attributes.widget_id = widget_id;
    mpq.push(["track","page_remove_widget", mixpanel_attributes]);
    
    event.preventDefault();
  });
  
  reload_widgets();
  
  $("ul#page").sortable({
     axis: 'y',
     containment: "ul#page",
     tolerance: 'pointer',
     placeholder: 'placeholder',
     forcePlaceholderSize: true,
     handle: 'img.handle',
     update: function(event, ui){     
        // Get the dragged widget id.
        var widget_id = ui.item.attr("data_widget_id");
        // Compute the new position of this widget.
        var position = ui.item.index() + 1;
        
        if (ui.item.hasClass("page_input_stream_widget")) {
          
          ui.item.text("Loading...");
                    
          // Clone the widget.
          $.post("/widgets/" + widget_id + "/copy_to_page/" + page_id, { position : position }, function(data){               
              reload_page_widgets();
            }
          );
          
          mixpanel_attributes.comment_count =  ui.item.attr("comments");
          mpq.push(["track","page_add_widget_from_input_stream", mixpanel_attributes]);      
        
        } else {
          
          // Update the widget's position on the server.
          $.post("/widgets/" + widget_id + "/move/" + position, { _method : 'PUT' });
        
          mpq.push(["track","page_reorder_widgets", mixpanel_attributes]);
        
        }
        
      }
   });      
      
  mpq.push(["track","hit_edit_page", mixpanel_attributes ]);
  mpq.push(["track_forms",$("form#update_page"),"page_change_title", mixpanel_attributes]);