= render :partial => "header"

#toolbar
  %span#add_text_widget
    Text

#edit_dialog
  %iframe#edit_frame{:src => ""}

#widgets


%h1 Editing page



= link_to 'Show', canvas_page_path(@canvas, @page)
\|
= link_to 'Back', :back

:javascript
    var the_edit_dialog = $("#edit_dialog").dialog({minHeight:250, minWidth:500, autoOpen:false});
  
    close_edit_dialog = function(){
      the_edit_dialog.dialog("close");
    }
    
    open_edit_dialog = function(){
      the_edit_dialog.dialog("open");
    }
    
    set_edit_frame_src = function(src){
      $("#edit_frame").attr("src", src);
    }
    
    reload_widgets = function(){
      $("#widgets").load("/canvae/#{@page.canvas.id}/pages/#{@page.id}/widgets");      
    }
    
    $("#add_text_widget").click(function(){
      set_edit_frame_src("/canvae/#{@page.canvas.id}/widgets/new?page_id=#{@page.id}&content_type=TextContent");
      open_edit_dialog();
    });
    
    $(".edit_widget").live("click", function(){
      var widget_id = $(this).attr("data_widget_id");
      set_edit_frame_src("/canvae/#{@page.canvas.id}/widgets/" + widget_id + "/edit");
      open_edit_dialog();
    });
    
    reload_widgets();