= render :partial => "header"

- content_for :head do
  = stylesheet_link_tag 'page_edit_page.css', :media => 'screen, projection'

#edit_dialog
  %iframe#edit_frame{:src => ""}


.span-16
  %h1 Page
  #toolbar
    %a#add_text_widget{:href => "#"}
      Add Text Widget
      
  %ul#widgets

.span-8.last
  %h1 Sidebar

.span-24.last
  = link_to 'Show', canvas_page_path(@canvas, @page)
  \|
  = link_to "Versions", versions_canvas_page_path(@page.canvas, @page)
:javascript
    var the_edit_dialog = $("#edit_dialog").dialog({
      minHeight:250, 
      minWidth:500, 
      autoOpen:false
    });
  
    close_edit_dialog = function(){
      the_edit_dialog.dialog("close");
    }
    
    open_edit_dialog = function(){
      the_edit_dialog.dialog("open");
    }
    
    set_dialog_title = function(title){
      the_edit_dialog.dialog("option","title", title);
    }
    
    set_edit_frame_src = function(src){
      $("#edit_frame").attr("src", src);
    }
    
    reload_widgets = function(){
      $("#widgets").load("/canvae/#{@page.canvas.id}/pages/#{@page.id}/widgets");      
    }
    
    $("a#add_text_widget").click(function(){
      set_edit_frame_src("/canvae/#{@page.canvas.id}/widgets/new?page_id=#{@page.id}&content_type=text_content");
      set_dialog_title("New Text Widget");
      open_edit_dialog();
      return false;
    });
    
    $(".edit_widget").live("click", function(){
      var widget_id = $(this).attr("data_widget_id");
      set_edit_frame_src("/canvae/#{@page.canvas.id}/widgets/" + widget_id + "/edit");
      set_dialog_title("Edit Widget")
      open_edit_dialog();
    });
    
    reload_widgets();
    
    $("#widgets").sortable({
       axis: 'y',
       containment: "#widgets",
       tolerance: 'pointer',
       placeholder: 'placeholder',
       forcePlaceholderSize: true,
       handle: 'img.handle'
       ,
       update: function(event, ui){
       
                var e = ui.item;
       
                // Get the dragged widget / widget placement.
                var widget_id = e.attr("data_widget_id");
                // var widget_placement_id = e.attr("data_widget_placement_id");
       
                // Compute the new position of this widget.
                var position = e.index() + 1;
       
                // if(widget_placement_id == 0){
                //   // Add a widget placement to the page.
                //        
                //   $.post("/pages/#{@page.id}/widget_placements", {
                //     widget_id : widget_id,
                //     position : position
                //   }, function(data){
                //     // Save the id of the new widget placement in the dom.
                //     e.attr("data_widget_placement_id", data);
                //        
                //   });
                //        
                // } else {
                  // Update the widget placement's position.
       
                  $.post("/canvae/#{@canvas.id}/widgets/" + widget_id + "/update_position/", { 
                    position : position, 
                    _method : 'PUT' 
                  });
                // }
              }
     });
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
