- content_for :stylesheets do
  = stylesheet_link_tag 'compiled/page.css', :media => 'screen, projection'
- content_for :javascripts do
  = javascript_include_tag 'page_edit'  


Page2

#widget_dialog
  %iframe{:src => ""}

.span-16
  %h1 Page

  = form_for([@page.canvas, @page], :html => {:id => "update_page"}) do |f|
    .field
      = f.label :title
      = f.text_field :title, :class => "title"
      = f.submit 'Update'

  #toolbar
    %a.add_widget.tab{:href => "#", :data => {:content_type => "text_content", :canvas_id => @canvas.id, :page_id => @page.id}} Add Text
    %a.add_widget.tab{:href => "#", :data => {:content_type => "image_content", :canvas_id => @canvas.id, :page_id => @page.id}} Add Image


  %ul#inline_form
    - @new_widgets.each do |t, widget|
      %div{:style => "display:none;"}
        = render :partial => "widgets/editable", :object => widget, :as => :widget   
           
  %ul#page
  
  %h3== Other pages on "#{@page.canvas.name}"
  %ul
    - @page.canvas.pages.each do |page|
      %li= link_to page.title, canvas_page_path(@canvas, page)
  

.span-8.last
  %h2 Feed
  
  #toolbar-feed
    %a.add_widget_mock.tab{:href => "#", :data => {:content_type => "text_content", :canvas_id => @canvas.id}} Add Text
    %a.add_widget_mock.tab{:href => "#", :data => {:content_type => "image_content", :canvas_id => @canvas.id}} Add Image
  
  %form
    .field
      %label{:for => "tag_ids"} Filter by tags:
      %input#tag_ids{:type => "text", :name => "tag_ids", :style => "background-color: #333; width:50px", :width => "50px"}
  
  %ul#feed

.span-24.last
  = link_to 'Show', canvas_page_path(@page.canvas, @page)
  \|
  = link_to "Versions", versions_canvas_page_path(@page.canvas, @page)
  \|
  = link_to 'View Canvas', canvas_path(@page.canvas)

