- content_for(:opengraph_meta_tags, opengraph_meta_tags_for(@page, :url => canvas_page_url(@page.canvas, @page)))
- content_for :stylesheets do
  = stylesheet_link_tag 'compiled/page.css', :media => 'screen, projection'
- content_for :javascripts do
  = javascript_include_tag 'page_show.js'

.span-17.first

  .div{:style => "padding: 10px"}

    %h2.header-font{:style => "margin-bottom: 5px"}= @page.title 
  
    %ul#presentation_page{:style => "padding-left:0px;"}
      = render :partial => "widgets/presentation", :collection => @widgets, :as => :widget

    %h2 comments
    = comments_for(@page, :href => canvas_page_url(@page.canvas, @page), :width => 610 )

.span-7.last

  %div{:style=>"text-align:right;"}
    - if current_user
      = link_to "follow", "#", :id => "follow",  :class => "blue-button", :title => "Click to follow"
      = link_to "following", "#", :id => "unfollow",  :class => "grey-button", :title => "You are following this page. Click to unfollow", :style => hidden_if(!current_user.following?(@page))
      = link_to "Versions", versions_canvas_page_path(@page.canvas, @page), :id => "versions",  :class => "blue-button"
        
    - if can? :edit, @page
      = link_to 'Edit Page', edit_canvas_page_path(@page.canvas, @page), :class => "blue-button"
        
    - if current_user && current_user.admin?
      = button_to 'Delete', canvas_page_path(@page.canvas, @page), :method => :delete, :confirm => "Are you sure?", :class => "blue-button"
  %br

  #memberlist
    .heading
      Community Members
    = render 'canvae/memberlist'
  
  %br

  %div Other Pages:
  %ul.vertical-list
    - @page.canvas.pages.each do |page|
      -if page != @page
        %a.vertical-list{:href => canvas_page_path(@page.canvas, page), :title => page.title}
          %li.vertical-list
            %img.vertical-list-icon{:src => page.icon}
            .vertical-list-title
              =page.title
            .vertical-list-details
              Modified by
              =page.editor
              %br
              -if page.updated_at > 12.hours.ago 
                #{time_ago_in_words(page["updated_at"])} ago
              -else
                on #{page.updated_at.strftime("%b %d %Y %I:%M %p")}
            