- content_for(:opengraph_meta_tags, opengraph_meta_tags_for(@page, :url => canvas_page_url(@page.canvas, @page)))
- content_for :head do
  = stylesheet_link_tag 'page.css', :media => 'screen, projection'

%h1= @page.title

- if current_user
  #follow_status
    #follow
      %button Follow
    #unfollow
      %button Stop following
      Following this page
      
%ul#presentation_page
  = render :partial => "widgets/presentation", :collection => @widgets, :as => :widget

= link_to 'Edit', edit_canvas_page_path(@page.canvas, @page)
\|
= link_to "Versions", versions_canvas_page_path(@page.canvas, @page)
\|
= link_to 'View Canvas', canvas_path(@page.canvas)


%h2 comments
= comments_for(@page, :href => canvas_page_url(@page.canvas, @page) )

    
:javascript
  var page_id = #{@page.id};
  
  var user = {
    is_logged_in : #{!current_user.nil?},
    is_following : #{current_user ? current_user.following?(@page) : false}
  }
  
  if(user.is_logged_in){
    if(user.is_following){
      $("#follow").hide();
    } else {
      $("#unfollow").hide();
    }
  } else {
    $("#follow_status").hide();
  }
  
  var toggle_follow_status = function(){
    $("#follow").toggle();
    $("#unfollow").toggle();
  }
    
  $("#follow button").click(function(){
    toggle_follow_status();
    $.post("/follows/", {followable_type: 'page', followable_id: page_id}, function(){
      reload_hud();  
    });
    
  });
  
  $("#unfollow button").click(function(){
    toggle_follow_status();
    $.post("/follows/", {_method : "DELETE", followable_type: 'page', followable_id: page_id}, function(){
      reload_hud();
    });
    
  });

