- content_for :head do
  = stylesheet_link_tag 'page.css', :media => 'screen, projection'

%h1= @page.title

%ul#presentation_page
  = render @page.widgets

= link_to 'Edit', edit_canvas_page_path(@page.canvas, @page)
\|
= link_to "Versions", versions_canvas_page_path(@page.canvas, @page)
\|
= link_to 'View Canvas', canvas_path(@page.canvas)
