= render :partial => "header"
%p#notice= notice

%p
  %b Title:
  = @page.title
%p
  %b Creator:
  = @page.creator.name

= link_to 'Edit', edit_canvas_page_path(@canvas, @page)
\|
= link_to 'Back', canvas_path(@canvas)
