- content_for(:opengraph_meta_tags, opengraph_meta_tags_for(@page, :url => canvas_page_url(@page.canvas, @page)))
- content_for :stylesheets do
  = stylesheet_link_tag 'compiled/page.css', :media => 'screen, projection'
- content_for :javascripts do
  = javascript_include_tag 'page_show.js'

.span-16.first

  .div{:style => "padding: 10px"}

    %h2.header-font{:style => "margin-bottom: 5px"}= @page.title 
  
    %ul#presentation_page{:style => "padding-left:0px;"}
      = render :partial => "widgets/presentation", :collection => @widgets, :as => :widget

    = link_to 'Edit', edit_canvas_page_path(@page.canvas, @page)
    \|
    = link_to "Versions", versions_canvas_page_path(@page.canvas, @page)

    %h2 comments
    = comments_for(@page, :href => canvas_page_url(@page.canvas, @page) )
  

.span-8.last

  - if current_user
    %a#follow{:href => "#", :style => hidden_if(current_user.following?(@page))}
      %img{:src => "/images/icons/follow.png"}
    %a#unfollow{:href => "#", :style => hidden_if(!current_user.following?(@page))}
      %img{:src => "/images/icons/unfollow.png"}

  %div Other Pages:
  %ul
    - @page.canvas.pages.each do |page|
      %li= link_to page.title, canvas_page_path(@page.canvas, page), :class => "related_page_link"