%br
%h1 Presentation

= render_widgets @widgets, 'presentation'

%br
%h1 Page Edit

= render_widgets @widgets, 'page_edit'

%br
%h1 Canvas Input Stream

= render_widgets @widgets, 'canvas_input_stream'

%br
%h1 Page Input Stream

= render_widgets @widgets, 'page_input_stream'

%br
%h1 Scrolly

= render_widgets @widgets, 'scrolly'