- if widget.id
  .header_and_body{:style => "margin-left:70px;margin-top:5px"}
    - case widget.content_type

    - when 'text_content'
      .text{:style => "margin-top:5px;margin-bottom:10px;"}
        .text_here
          %span.ellipsis_text
            = raw(strip_tags(widget.text))

    - when 'image_content'
      %figure.widget_image_wrapper{:style => "margin-top:5px;margin-bottom:10px;"}
        %img.widget_image{ :src => "#{widget.image}", :alt => "#{widget.alt_text}", :title => "#{widget.alt_text}"}
        %figcaption{:style => "margin-bottom: 10px; font-size:12px;"}= widget.alt_text
    
    - when 'link_content'
      %div{:style => "margin-top:5px;margin-bottom:10px;"}
        -if widget.text && !widget.text.empty?
          %blockquote.widget_link_block{:cite => "#{widget.link}"}
            .text_here
              %span.ellipsis_text
                = widget.text.html_safe
          .cite_link
            %a{:href => "#{widget.link}", :target => "_blank", :class => "link source"}
              %cite= "- #{widget.title}"
        -else
          %blockquote.widget_link_block{:cite => "#{widget.link}", :style => "display:none;"}
          %a{:href => "#{widget.link}", :target => "_blank", :class => "link"}
            #{widget.title}
      
    - when 'question_content'
      %div.question
        -if widget.creator
          %strong= widget.creator.name
          \:
          .question_text
            .text_here
              %span.ellipsis_text
                = widget.question
      - if widget.answer
        %div.answer
          - widget.answers.each do |answer|
            %p{:style => "margin-bottom: 5px;"}
              %strong== #{answer["commenter"]}
              %em==(#{time_ago_in_words(answer["comment_date"])} ago)
              \:
            %p
              = answer["message"]




    .tags
      
      - if widget.creator
        = widget.creator
        &nbsp;&bull;&nbsp;
      - if widget.creator && widget.updated_at > 12.hours.ago 
        #{time_ago_in_words(widget["updated_at"])} ago
      - elsif widget.creator
        #{widget.updated_at.strftime("%b %d %Y %I:%M %p")}
      = render_widget_section("tags", widget)

      &nbsp;&bull;&nbsp;

      %span.widget_history
        Show History

      &nbsp;&bull;&nbsp;

      %span.comment_count.toggle_facebook_comments

    .facebook_comments
      .fb-discussion
        - if widget.id
          = comments_for(widget, :href => widget.permalink, :width => 575)