- if current_user
  = form_for widget, {:html => {:style => "display:none;", :class => "edit_widget"}} do |f| 
    .field
      = f.label :tag_names, "Tags"
      - names = widget.tags.map{|o| o.name.strip}
      
      - class_names = widget.id ? 'widget_tag_ids' : 'widget_tag_ids new_widget_form'
      = f.text_field :tag_names, {"data-current_tags" => names.to_json, :class => class_names }
      
    - case widget.content_type  
    - when 'text_content'
      .field
        = f.text_area :text, {:id => "widget_ckeditor_#{widget.id || 0}"}
    - when 'image_content'
      .field
        = f.label 'image url'
        = f.text_field :image
      .field
        = f.label 'image alt text'
        = f.text_field :alt_text
    - when 'link_content'
      .field
        = f.label 'title'
        = f.text_field :title
      .field
        = f.label 'link'
        = f.text_field :link
      .field
        = f.text_area :text
    - when 'question_content'
      .field
        = f.label 'question'
        %br
        = f.text_area :question
         
    %input{:type => "hidden", :name => "widget[content_type]", :value => "#{widget.content_type}"}
    %input{:type => "hidden", :name => "widget[creator_id]", :value => "#{current_user.id}"}

    - if widget.page
      %input{:type => "hidden", :name => "page_id", :value => "#{widget.page.id}"}
    - else
      %input{:type => "hidden", :name => "canvas_id", :value => "#{widget.canvas.id}"}
      
    .actions
      = f.submit 'Save'
      
    - if widget.answer
      .field
        = f.label 'answer'
        %br
          %ul{:style => "list-style: none;"}
            - widget.answers.each do |answer|
              %li
                %a.delete_answer{:href => "#", :data => {:widget_id => widget.id}, :style => "text-decoration: none;" }
                  %img{:src => "/images/icons/delete.png", :width => "16px"}
                = answer["commenter"]
                %em==(#{time_ago_in_words(answer["comment_date"])} ago)
                \:
                = answer["message"]
                
