- if current_user
  = form_for widget, {:html => {:style => "display:none;", :class => "edit_widget"}} do |f| 
    - case widget.content_type  
    - when 'text_content'
      .form-title{:data => {:content_type => "text_content"}} Text Snippet
      .field
        = f.text_area :text, {:id => "widget_ckeditor_#{widget.id || 0}"}
    - when 'image_content'
      .form-title{:data => {:content_type => "image_content"}} Photo
      .field
        = f.label 'URL'
        = f.text_field :image
      .field
        = f.label 'Alt Text'
        = f.text_field :alt_text
    - when 'link_content'
      .form-title{:data => {:content_type => "link_content"}} Link
      .field
        = f.label 'title'
        = f.text_field :title
      .field
        = f.label 'URL'
        = f.text_field :link
      .field
        = f.label 'Quote from site'
        = f.text_area :text
    - when 'question_content'
      .form-title{:data => {:content_type => "question_content"}} Question
      .field
        = f.label 'Question'
        = f.text_area :question
         
    %input{:type => "hidden", :name => "widget[content_type]", :value => "#{widget.content_type}"}
    %input{:type => "hidden", :name => "widget[editor_id]", :value => "#{current_user.id}"}

    - if widget.page
      %input{:type => "hidden", :name => "page_id", :value => "#{widget.page.id}"}
    - else
      %input{:type => "hidden", :name => "canvas_id", :value => "#{widget.canvas.id}"}
      
    .tagHolder{:style => "width:100%"}
      .tagfield{:style => "width: 600px; float:left; margin-top:3px;"}
        - names = widget.tags.map{|o| o.name.strip}
        - class_names = widget.id ? 'widget_tag_ids' : 'widget_tag_ids new_widget_form'
      
        .x{:style => "width:61px; float:left; padding:3px 5px 0px 3px;font-weight:bold;font-size:13px;"}
          Tags
        
        = f.text_field :tag_names, {"data-current_tags" => names.to_json, :class => class_names }

      .actions
        = f.submit 'Save'
        %input.cancel_edit{:type => "reset", :name => "cancel", :value => "Cancel"}
    
    .clear{:style => "clear:both"}
    
    - if widget.answer
      .field
        = f.label 'answer'
        %br
          %ul{:style => "list-style: none;"}
            - widget.answers.each do |answer|
              %li
                %a.delete_answer{:href => "#", :data => {:widget_id => widget.id}, :style => "text-decoration: none;" }
                  %img{:src => "/images/icons/delete.png", :width => "16px"}
                = answer["commenter"]
                %em==(#{time_ago_in_words(answer["comment_date"])} ago)
                \:
                = answer["message"]
                
