:javascript
  // Common javascript request variables
  var request = {
    root_url : "#{root_url}",
    user_id : #{current_user ? current_user.id : 0},
    canvas_id : #{@canvas.present? ? @canvas.id : 0},
    page_id : #{@page && @page.persisted? ? @page.id : 0}
  };
  
-if current_user
  :javascript
    $(function(){
      mpq.push(["name_tag","#{current_user.name}"]);
    })
-else
  :javascript
    $(function(){
      mpq.push(["identify"]);
    })
        