= stylesheet_link_tag 'application.css', :media => 'screen, projection'
= stylesheet_link_tag 'print.css', :media => 'print'
/[if lt IE 8]
  = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
= stylesheet_link_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/ui-lightness/jquery-ui.css', :media => 'screen, projection'
= stylesheet_link_tag 'token-input-facebook', :media => 'screen, projection'