!!!
%html
  %head
    %title= @title || "Loorp! v0"
    = render :partial => "layouts/stylesheets"    
    = render :partial => "layouts/javascripts"
    = render :partial => 'layouts/load_request_data'
    = csrf_meta_tag
    = yield :opengraph_meta_tags
  %body
    
    #fb-root
      :javascript
        FBCallbacks = new Array();
        FB.init({appId: '196297497094752', status: true, cookie: true, xfbml: true});
        this.callbacks = new Object();
        this.callbacks.push = function(func){func();};
        for(var i=0; i < FBCallbacks.length; i++){
          FBCallbacks[i]();
        }
        FBCallbacks = this.callbacks;

    #header-toolbar
      .container
        #user-nav
          - if current_user
            = link_to current_user.name, edit_user_path
            %div#event_count.no_new_events{:title => "notifications"}
            #event_list_container
            :javascript
              $(function(){
                reload_event_count()
                setInterval(function() {
              			reload_event_count()
              	}, 30000);
              })
        	  
            |
            = link_to "Home", root_url
            |
            = link_to "Log out", logout_path
          - else
            = login_link :text => "Log in with Facebook"
        = render :partial => "shared/menu" if current_user    
    
    #body

      .container
      
        -if !(params[:controller] == "canvae" && params[:action] == "show")
          #breadcrumbs{:style => "border-bottom: 1px dotted; padding: 3px;"}
            = render_breadcrumbs
      
        #flash.span-24{:style => "display:none; position: fixed; top: 0; z-index: 999999999"}
          -flash.each do |type, value|
            .flash{ :class => type.to_s }
              = value
    
        = yield
        
    = render :partial => 'shared/live_help'
  
  = render :partial => 'shared/mixpanel_identify'