!!!
%html
  %head
    %title= @title || "Loorp! v0"
    = render :partial => "layouts/stylesheets"    
    = render :partial => "layouts/javascripts"
    = render :partial => 'layouts/load_request_data'
    = csrf_meta_tag
    = yield :opengraph_meta_tags
  %body
    
    #fb-root
      :javascript
        FBCallbacks = new Array();
        FB.init({appId: '196297497094752', status: true, cookie: true, xfbml: true});
        this.callbacks = new Object();
        this.callbacks.push = function(func){func();};
        for(var i=0; i < FBCallbacks.length; i++){
          FBCallbacks[i]();
        }
        FBCallbacks = this.callbacks;

    #header-toolbar
      .container
        #user-nav
          - if current_user
            = link_to current_user.name, edit_user_path
            %div#event_count.no_new_events{:title => "notifications"}
            #event_list_container
            :javascript
              $(function(){
                reload_event_count()
                setInterval(function() {
              			reload_event_count()
              	}, 30000);
              })
        	  
            |
            = link_to "Home", root_url
            |
            = link_to "Log out", logout_path
          - else
            = login_link :text => "Log in with Facebook"
        = render :partial => "shared/menu" if current_user    
    
    #body
      = render :partial => 'canvae/header' if @canvas

      .container
        #flash.span-24{:style => "display:none; position: fixed; top: 0; z-index: 999999999;"}
          -flash.each do |type, value|
            .flash{ :class => type.to_s, :style => ""}
              = value
     
        = yield
        
    
        %div{:id => "canvas-settings-hint", :style => "display: none"}
          .hinty
            .get-started
              .heading
                Want to change your community name?
              .content
                Check out the community settings by clicking on this icon.

        %div{:id => "new-snippet-hint", :style => "display: none"}
          .hinty
            .get-started
              .heading
                We've added a snippet to your feed already
              .content
                Click here to edit.

        %div{:id => "new-page-hint", :style => "display: none"}
          .hinty
            .get-started
              .heading
                Need some organization?
              .content
                Create a page and add snippets to it


      :javascript
      
        $.fn.qtip.styles.toolTips = { // Last part is the name of the style
           width: 500,
           background: '#ffffff',
           border: {
             width: 5,
             radius: 10
           },
           padding: 10, 
           tip: true,
           name: 'light'
        }
      
        $("#canvas-settings").qtip({
          content: $("#canvas-settings-hint").html(),
          show: 'mouseover',
          // show: {
          //     when: false, // Don't specify a show event
          //     ready: true, // Show the tooltip when ready
          //     delay: 0
          // },
          // hide: false,
          hide: 'mouseout',
          // show: { delay: 0 },
          position: {
            corner: { 
              target: 'bottomLeft', 
              tooltip: 'topRight'
            },
            adjust: { screen: true }
          },
          style: 'toolTips'
        });

        $(".edit").qtip({
          content: $("#new-snippet-hint").html(),
          show: 'mouseover',
          hide: 'mouseout',
          position: {
            corner: { 
              target: 'bottomLeft', 
              tooltip: 'topRight'
            },
            adjust: { screen: true }
          },
          style: 'toolTips'
        });

        $(".add_page").qtip({
          content: $("#new-page-hint").html(),
          show: 'mouseover',
          hide: 'mouseout',
          position: {
            corner: { 
              target: 'bottomLeft', 
              tooltip: 'topRight'
            },
            adjust: { screen: true }
          },
          style: 'toolTips'
        });

        
    = render :partial => 'shared/live_help'
  
  = render :partial => 'shared/mixpanel_identify'