!!!
%html
  %head
    %title= yield :title
    = stylesheet_link_tag 'application.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'          
    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js', 'underscore-min'
    = csrf_meta_tag
    = yield :head
  %body
  

    
    #header
      .container
        #user-nav
          - if current_user
            == Logged in as #{current_user.name}
            |
            = link_to "Log out", logout_path
          - else
            = link_to "Log in with Facebook", "/auth/facebook"
        %h1#logo
          A Saucy Book
    
    .container
      -flash.each do |type, value|
        .flash{ :class => type.to_s }
          = value
      = yield