!!!
%html
  %head
    %title= @title || "Loorp! v0"
    = render :partial => "layouts/stylesheets"        
    = render :partial => "layouts/javascripts"
    = csrf_meta_tag
    = yield :opengraph_meta_tags
  %body
    = render :partial => 'layouts/load_request_data'
    
    #fb-root
      :javascript
        FBCallbacks = new Array();
        FB.init({appId: '196297497094752', status: true, cookie: true, xfbml: true});
        this.callbacks = new Object();
        this.callbacks.push = function(func){func();};
        for(var i=0; i < FBCallbacks.length; i++){
          FBCallbacks[i]();
        }
        FBCallbacks = this.callbacks;

    #header
      .container
        #user-nav
          - if current_user
            == Logged in as #{current_user.name}
            %div#event_count.no_new_events
              %img{:src => "/images/mini-spinner.gif"}
            #event_list_container
            |
            = link_to "Home", root_url
            |
            = link_to "Hud", hud_user_path, :id => "show_hud"
            |
            = link_to "Log out", logout_path
          - else
            = login_link :text => "Log in with Facebook"
        %h1#logo
          -if @title 
            = link_to_unless_current @title, canvas_path(@canvas) 
          -else 
            loorp
          
    #body
      
      .container
      
        #breadcrumbs{:style => "border-bottom: 1px dotted; padding: 0 0 5px 5px"}
          = render_breadcrumbs
      
        #flash.span-24{:style => "display:none; position: fixed; top: 0; z-index: 999999999"}
          -flash.each do |type, value|
            .flash{ :class => type.to_s }
              = value
    
        = yield 
    
    - if current_user
      #hud
        %a#hide_hud{:href => "#"} Hide
        #hud_content