!!!
%html
  %head
    %title= @title || "Loorp! v0"
    = render :partial => "layouts/stylesheets"  
    = render :partial => 'layouts/load_request_data'      
    = render :partial => "layouts/javascripts"
    = csrf_meta_tag
  %body
    = yield
    
    