!!!
%html
  %head
    %title= @title || "Loorp! v0"
    = render :partial => "layouts/stylesheets"        
    = render :partial => "layouts/javascripts"
    = yield :stylesheets
    = javascript_include_tag basic_javascripts
    = csrf_meta_tag
    = yield :head
  %body
    #header-toolbar
      .container
        #user-nav 
          - if current_user
            == #{current_user.name}
            %div#event_count.no_new_events{:title => "notifications"}
            #event_list_container
            :javascript
              $(function(){
                reload_event_count()
                setInterval(function() {
              			reload_event_count()
              	}, 30000);
              })
            |
            = link_to "Home", root_url
            |
            = link_to "Log out", logout_path
          - else
            = login_link :text => "Log in with Facebook"
        = render :partial => "shared/menu" if current_user    
    #content
      = yield